# Ignorar node_modules na pasta raiz
node_modules/

# Ignorar dist em todos os subdiretórios (servidor, cliente, etc.)
dist/

# Ignorar .env na raiz e nos subdiretórios
.env

# Outros arquivos temporários
*.log
*.tmp
*.sqlite